.container.bootdey
    .col-md-12.bootstrap.snippets
        .panel
            .panel-body
                textarea.form-control(rows='2' placeholder='What are you thinking?')
                .mar-top.clearfix
                    button.btn.btn-sm.btn-primary.pull-right(type='submit')
                        i.fas.fa-pencil-alt.fa-fw
                        |  Share
                    a.btn.btn-trans.btn-icon.fas.fa-video.add-tooltip(href='#')
                    a.btn.btn-trans.btn-icon.fas.fa-camera.add-tooltip(href='#')
                    a.btn.btn-trans.btn-icon.fas.fa-file.add-tooltip(href='#')