button.btn.btn-primary(type='button' data-toggle='modal' data-target='#my80sizeCenterModal').
  80%size Center
  
.modal.modal-center.fade#my80sizeCenterModal(tabindex='-1' role='dialog' aria-labelledby='my80sizeCenterModalLabel')
  .modal-dialog.modal-80size.modal-center(role='document')
    .modal-content.modal-80size
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title#myModalLabel Modal 제목
      .modal-body.
        
        Modal 내용
        
      .modal-footer
        button.btn.btn-default(type='button' data-dismiss='modal') 닫기
