.navbar.navbar-default.navbar-static-top
  .container.bootstrap.snippets.bootdey
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Grones
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li.dropdown
          a#drop1.dropdown-toggle(href='#' data-toggle='dropdown' role='button')
            | Music 
            b.caret
          ul.dropdown-menu(role='menu' aria-labelledby='drop1')
            li(role='presentation')
              a(href='#' role='menuitem') Bootdey.com
            li(role='presentation')
              a(href='#' role='menuitem') Option 2
            li(role='presentation')
              a(href='#' role='menuitem') Option 3
            li(role='presentation')
              a(href='#' role='menuitem') New Snippets
        li
          a(href='#contact') Contact

.container.bootstrap.snippets.bootdey.