.media-block
    a.media-left(href='#')
        img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar1.png')
    .media-body
        .mar-btm
            a.btn-link.text-semibold.media-heading.box-inline(href='#') Lisa D.
            p.text-muted.text-sm
                i.fa.fa-mobile.fa-lg
                |  - From Mobile - 11 min ago
        p consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        .pad-ver
            .btn-group
                a.btn.btn-sm.btn-default.btn-hover-success(href='#')
                    i.fa.fa-thumbs-up
                a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                    i.fa.fa-thumbs-down
            a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment
        hr
        div
            .media-block
                a.media-left(href='#')
                    img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar2.png')
                .media-body
                    .mar-btm
                        a.btn-link.text-semibold.media-heading.box-inline(href='#') Bobby Marz
                        p.text-muted.text-sm
                            i.fa.fa-mobile.fa-lg
                            |  - From Mobile - 7 min ago
                    p Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    .pad-ver
                        .btn-group
                            a.btn.btn-sm.btn-default.btn-hover-success.active(href='#')
                                i.fa.fa-thumbs-up
                                |  You Like it
                            a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                                i.fa.fa-thumbs-down
                        a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment
                    hr
            .media-block
                a.media-left(href='#')
                    img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar3.png')
                .media-body
                    .mar-btm
                        a.btn-link.text-semibold.media-heading.box-inline(href='#') Lucy Moon
                        p.text-muted.text-sm
                            i.fa.fa-globe-americas.fa-lg
                            |  - From Web - 2 min ago
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate ?
                    .pad-ver
                        .btn-group
                            a.btn.btn-sm.btn-default.btn-hover-success(href='#')
                                i.fa.fa-thumbs-up
                            a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                                i.fa.fa-thumbs-down
                        a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment
                    hr

.media-block.pad-all
    a.media-left(href='#')
        img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar1.png')
    .media-body
        .mar-btm
            a.btn-link.text-semibold.media-heading.box-inline(href='#') John Doe
            p.text-muted.text-sm
                i.fa.fa-mobile.fa-lg
                |  - From Mobile - 11 min ago
        p Lorem ipsum dolor sit amet.
        img.img-responsive.thumbnail(src='https://via.placeholder.com/400x300' alt='Image')
        .pad-ver
            span.tag.tag-sm
                i.fa.fa-heart.text-danger
                |  250 Likes
            .btn-group
                a.btn.btn-sm.btn-default.btn-hover-success(href='#')
                    i.fa.fa-thumbs-up
                a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                    i.fa.fa-thumbs-down
            a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment
        hr

        div
            .media-block.pad-all
                a.media-left(href='#')
                    img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar2.png')
                .media-body
                    .mar-btm
                        a.btn-link.text-semibold.media-heading.box-inline(href='#') Maria Leanz
                        p.text-muted.text-sm
                            i.fa.fa-globe.fa-lg
                            |  - From Web - 2 min ago
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate ?
                    div
                        .btn-group
                            a.btn.btn-sm.btn-default.btn-hover-success(href='#')
                                i.fa.fa-thumbs-up
                            a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                                i.fa.fa-thumbs-down
                        a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment