div
    .media-block
        a.media-left(href='#')
            img.img-circle.img-sm(alt='Profile Picture' src='https://bootdey.com/img/Content/avatar/avatar2.png')
        .media-body
            .mar-btm
                a.btn-link.text-semibold.media-heading.box-inline(href='#') Bobby Marz
                p.text-muted.text-sm
                    i.fa.fa-mobile-alt.fa-lg
                    |  - From Mobile - 7 min ago
            p Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            .pad-ver
                .btn-group
                    a.btn.btn-sm.btn-default.btn-hover-success.active(href='#')
                        i.fa.fa-thumbs-up
                        |  You Like it
                    a.btn.btn-sm.btn-default.btn-hover-danger(href='#')
                        i.fa.fa-thumbs-down
                a.btn.btn-sm.btn-default.btn-hover-primary(href='#') Comment
            hr