.row
  .col-xs-12
    div
      ul.ace-thumbnails.clearfix
        li
          a.cboxElement(href='#' title='Photo Title' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar1.png')
            .text
              .inner 
              | Login on Click 
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar2.png')
            .text
              .inner Sample Caption on Hover
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar3.png')
            .text
              .inner Sample Caption on Hover
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar4.png')
        li
          div
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar5.png')
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar6.png')
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar7.png')
        li
          a.cboxElement(href='#' data-rel='colorbox')
            img(width='120' height='120' alt='120x120' src='https://bootdey.com/img/Content/avatar/avatar8.png')