html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Document
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='./css/fontawesome.min.css')
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel='stylesheet' href='./css/all.css')
    link(rel='stylesheet' href='./css/style.css')
    //- link(rel='stylesheet' href='http://localhost:3333/css/bootstrap.min.css')
    //- link(rel='stylesheet' href='http://localhost:3333/css/all.css')
    //- link(rel='stylesheet' href='http://localhost:3333/css/style.css')

  body

    div#root

    script(src="./js/jquery-1.10.2.min.js")
    script(src="./js/bootstrap.min.js")
    script(type='module' src='./js/bundle.js')
    //- script(src="http://localhost:3333/js/jquery-1.10.2.min.js")
    //- script(src="http://localhost:3333/js/bootstrap.min.js")
    //- script(type='module' src='http://localhost:3333/js/bundle.js')
